// =============================
//   Productos style
// =============================

.c-productos {
    width: 100%;
  position: relative;

    @include e(bloque) {
        @include flexbox;
        @include justify-content(flex-start);
        @include flex-direction(column);
        @include align-items(flex-end);
        padding: 80px 22px;
        border-bottom: 1px dotted #aba1a1;

        &:last-child {
            border: none;
        }

        @include mq(tablet) {
            @include flexbox;
            @include justify-content(center);
            @include flex-direction(column);
            @include align-items(center);
            padding: 30px 22px;
        }
    }

    @include e(imagenes) {
        @include flexbox;
        @include justify-content(space-between);
        @include flex-direction(row);
        @include align-items(center);
        width: 100%;

        @include mq(tablet) {
            @include flexbox;
            @include justify-content(center);
            @include flex-direction(column);
            @include align-items(center);
        }
    }

    @include e(titulo) {
        @include font(24px, $font-family-primary, #a1a2a6, $font-weight-regular, 30px);
        text-transform: uppercase;
        text-align: right;
        padding-right: 23px;

        @include mq(mobile-wide) {
            text-align: center;
            padding-right: 0;
        }
    }

    @include e(imagen) {

        @include m(producto) {
            width: 100%;
            max-width: 600px;
            padding: 20px;
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);

            @include mq(tablet) {
                max-width: 400px;
            }
        }

        @include m(tabla) {
            width: 100%;
            max-width: 600px;
            padding: 20px;
            @include flexbox;
            @include justify-content(flex-end);
            @include align-items(center);
            max-height: 200px;

            @include mq(tablet) {
                max-width: 400px;
            }
        }
    }
}
