
.c-texto {

	padding: 80px 60px;

	@include mq(tablet) {
		padding: 24px;
	}

	& p {
		padding: 12px 0;
	}

	& li {
		padding-left: 24px;
		padding-bottom: 12px;
		position: relative;
	}

	& li::before {
		content: '';
	    display: block;
	    color: #480E1D;
	    position: absolute;
	    left: 0;
	    top: 8px;
	    height: 2px;
	    width: 12px;
	    border: 1px solid;
	}

	& strong {
		text-transform: uppercase;
	}

	& a {
		color: $heath;
    	font-weight: 600;

    	&:hover {
    		text-decoration: underline !important;
    	}
	}
}