// =============================
//   Catalogo style
// =============================

.c-breadcrumbs {
    @include flexbox;
    @include justify-content(flex-start);
    @include align-items(flex-end);
    padding: 60px 0 0 60px;

    @include mq(mobile) {
        padding: 60px 0 0 25px;
    }

    @include e(icon) {

        & img {
            width: 100%;
            max-width: 50px;
            height: 100%;
        }
    }

    @include e(items) {
        @include flexbox;
    }

    @include e(home) {
        margin-left: 10px;

        & a {
            @include font(18px, $font-family-primary, $gray, $font-weight-regular, 24px);

            @include mq(mobile) {
                font-size: 14px;
            }
        }

        &::after {
            content: "•";
            margin: 0 11px;
            font-size: 8px;
            color: $gray;

            @include mq(mobile) {
                margin: 0 6px;
            }
        }
    }

    @include e(current) {
        @include font(18px, $font-family-primary, $gray, $font-weight-semibold, 24px);

        @include mq(mobile) {
            font-size: 14px;
        }
    }

    @include e(category) {

        & a {

            @include font(18px, $font-family-primary, $gray, $font-weight-regular, 24px);

            @include mq(mobile) {
                font-size: 14px;
            }

            &::after {
                content: "•";
                margin: 0 11px;
                font-size: 8px;
                color: $gray;

                @include mq(mobile) {
                    margin: 0 6px;
                }
            }
        }
    }
}