// =============================
//   Intro style
// =============================

.c-intro {
    padding-top: 100px;
    width: 100%;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

   /* max-width: 1024px; */

    @include mq(tablet-wide) {
      padding: 50px 32px;
    }

    @include mq(tablet) {
      flex-direction: column;
    }

    @include e(left) {
      padding-right: 60px;

      @include mq(tablet) {
        padding-right: 0;
      }
    }

    @include e(pretitle) {
        @include flexbox;

        @include m(icon) {
            width: 100%;
            max-width: 45px;
        }

        @include m(texto) {
            @include font(18px, $font-family-primary, $black, $font-weight-regular);
            margin-left: 14px;
        }
    }

    @include e(titulo) {
        @include font(52px, $font-family-secondary, $color-forvisa, $font-weight-regular, 64px);
        width: 100%;
        max-width: 750px;
        padding-top: 40px;

        @include mq(desktop-wide) {
            font-size: 42px;
            line-height: 48px;
        }

        @include mq(tablet) {
            padding-left: 0;
        }

        @include mq(tablet-small) {
            font-size: 40px;
            line-height: 58px;
        }

        @include mq(mobile-wide) {
            font-size: 36px;
            line-height: 46px;
            text-align: center;
        }
    }

    @include e(cta) {
        margin-top: 40px;

        @include mq(tablet) {
            margin-left: 0;
        }

        @include mq(mobile-wide) {
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            max-width: 280px;
            margin: 40px auto;
        }
    }

    @include e(bloques) {

        width: 100%;
        padding-top: 50px;

        @include mq(tablet) {
            padding-left: 0;
            padding-top: 35px;
        }

        @include m(fila-a) {
            @include flexbox;
            @include justify-content(flex-start);
            @include align-items(center);
            padding-bottom: 40px;

            @include mq(mobile-wide) {
                @include flexbox;
                @include justify-content(center);
                @include align-items(center);
                @include flex-direction(column);
            }
        }

        @include m(fila-b) {
            width: 100%;
            max-width: 870px;
        }

        @include m(icon) {
            width: 100%;
            max-width: 100px;
        }

        @include m(pretitle) {
            @include font(24px, $font-family-primary, $gray, $font-weight-bold);
            margin-left: 75px;

            @include mq(tablet-small) {
                margin-left: 35px;
                font-size: 22px;
            }

            @include mq(mobile-wide) {
                margin-left: 0;
                padding-top: 24px;
                font-size: 18px;
            }
        }
    }

  @include e(video) {
    & iframe {
      @include mq(tablet-wide) {
        width: 320px;
        height: 210px;
      }
    }
  }
}
