// =============================
//   Categorias style
// =============================

.c-categorias {
    width: 100%;

    @include e(container) {
        padding: 45px;
        @include flexbox;
        @include justify-content(space-between);
        @include flex-wrap(wrap);
        @include align-items(flex-start);
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }

    @include e(item) {
        width: 100%;
        max-width: 312px;
        height: auto;
    }

    @include e(imagen) {
        width: 100%;
        max-width: 312px;
        height: 312px;
        background-size: cover !important;
        -webkit-box-shadow: 0 10px 15px -9px $black;
        -moz-box-shadow: 0 10px 15px -9px $black;
        box-shadow: 0 10px 15px -9px $black;

        &:hover {
            background-color: #a0586bad !important;
            background-blend-mode: multiply;
            -webkit-box-shadow: inset 0 0 100px #470e1d;
            -moz-box-shadow: inset 0 0 100px #00f;
            box-shadow: inset 0 0 100px #470e1d;
        }
    }

    @include e(titulo) {
        @include font(24px, $font-family-primary, $black, $font-weight-medium, 30px);
        text-align: center;
        text-transform: uppercase;
        padding: 25px 0;
    }
}