:root {
  --pagination-item-size: 65px;
  --pagination-item-gap: 30px;
  --pagination-item-gap-animation: 5px;
  @include mq(desktop-wide) {
    --pagination-item-size: 40px;
    --pagination-item-gap: 15px;
    --pagination-item-gap-animation: 5px;
  }
  @include mq(tablet) {
    --pagination-item-size: 25px;
    --pagination-item-gap: 10px;
    --pagination-item-gap-animation: 5px;
  }
}

.c-pagination {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  @include flexbox();
  @include align-items(center);
  @include transition();

  @include mq(tablet) {
    display: none;
  }

  @include m(fixed) {
    position: fixed;
    @include transition();
  }

  @include e(item) {
    position: absolute;
    height: var(--pagination-item-size);

    @include m(left) {
      left: var(--pagination-item-gap);
      @include transition();

      &:hover {
        left: calc(var(--pagination-item-gap) - var(--pagination-item-gap-animation));
        @include transition();
      }
    }

    @include m(right) {
      right: var(--pagination-item-gap);
      @include transition();

      &:hover {
        right: calc(var(--pagination-item-gap) - var(--pagination-item-gap-animation));
        @include transition();
      }
    }

    @include m(disabled) {
      @include opacity(0.1);
    }
  }
}
