// =============================
//   Legales style
// =============================

.c-legales {
  width: 100%;

  @include e(item) {
    border-left: 1px solid #ccc;
    padding-left: 15px !important;
    margin-left: 5px;

    @include mq(tablet) {
      border: none;
    }
  }
}