// =============================
//   Catalogo style
// =============================

.c-catalogo {
    width: 100%;

    @include e(container) {
        @include flexbox;
        @include justify-content(center);
        @include flex-direction(column);
        @include align-items(center);
        padding-top: 60px;
    }

    @include e(titulo) {
        @include font(60px, $font-family-secondary, $color-forvisa, $font-weight-regular, 72px);

        @include mq(tablet) {
            font-size: 48px;
        }
    }

    @include e(descripcion) {
        padding: 20px;
        width: 100%;
        max-width: 700px;
        text-align: center;
    }
}