// =============================
//   Interiores style
// =============================

.c-interiores {
    width: 100%;
    padding: 60px 0;

    @include mq(tablet) {
        padding: 20px 42px;
    }

    @include mq(mobile-wide) {
        padding: 20px 22px;
    }

    @include e(breadcrumbs) {
        margin-left: 60px;

        @include mq(tablet) {
            margin-left: 0;
        }
    }

    @include e(fondo) {
        background: url('../images/empresa_fondo_troquelado.jpg');
        background-size: cover;
        width: 100%;

        @include mq(tablet-wide) {
            background-position: center;
        }
    }

    @include e(bloques) {
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);
        @include flex-direction(row);
        width: 100%;
        padding: 40px 0;

        @include mq(tablet) {
            @include justify-content(center);
            @include align-items(center);
            @include flex-direction(column);
            padding: 20px 0;
        }

        @include e(titulo) {
            @include font(60px, $font-family-secondary, $color-forvisa, $font-weight-medium, 72px);
            padding-top: 62px;
            width: 100%;
            max-width: 750px;
            margin: 0 auto;

            @include mq(desktop-wide) {
                max-width: 590px;
            }

            @include mq(desktop) {
                max-width: 560px;
                font-size: 58px;
                line-height: 66px;
            }

            @include mq(tablet-wide) {
                padding-top: 20px;
                margin: 0 auto;
                max-width: 455px;
            }

            @include mq(tablet) {
                max-width: 100%;
                text-align: center;
            }

            @include mq(mobile) {
                font-size: 46px;
                line-height: 58px;
            }
        }

        @include e(texto) {
            width: 100%;
            max-width: 440px;

            @include mq(tablet-wide) {
                max-width: 334px;
            }

            @include mq(tablet) {
                max-width: 100%;
            }
        }

        @include e(descripcion) {
            color: $black;

            @include mq(tablet) {
                padding-bottom: 52px;
            }
        }

        @include e(foto) {
            width: 100%;
            background: #e5e5e5;
            @include flexbox;

            @include m(der) {
                max-width: 620px;
                @include justify-content(flex-start);

                @include mq(desktop-wide) {
                    max-width: 420px;
                }

                @include mq(tablet-wide) {
                    max-width: 250px !important;
                }

                @include mq(tablet) {
                    max-width: 100% !important;
                }

                & img {

                    @include mq(desktop-wide) {
                        max-width: 300px;
                    }

                    @include mq(desktop) {
                        max-width: 250px;
                    }

                    @include mq(tablet-wide) {
                        max-width: 200px;
                    }

                    @include mq(tablet) {
                        max-width: 320px;
                    }
                }

                @include mq(desktop) {
                    max-width: 350px;
                }

                @include mq(tablet) {
                    max-width: 100%;
                    margin-top: 25px;
                }
            }

            @include m(izq) {
                max-width: 620px;
                @include justify-content(flex-end);

                @include mq(desktop-wide) {
                    max-width: 420px;
                }

                @include mq(tablet-wide) {
                    max-width: 250px !important;
                }

                @include mq(tablet) {
                    max-width: 100% !important;
                }

                & img {

                    @include mq(desktop-wide) {
                        max-width: 300px;
                    }

                    @include mq(desktop) {
                        max-width: 250px;
                    }

                    @include mq(tablet-wide) {
                        max-width: 200px;
                    }

                    @include mq(tablet) {
                        max-width: 320px;
                    }
                }

                @include mq(desktop) {
                    max-width: 350px;
                }

                @include mq(tablet) {
                    max-width: 100%;
                    margin-top: 25px;
                }
            }
        }

        @include e(herramienta) {
            width: 100%;
            max-width: 330px;

            @include mq(desktop-wide) {
                max-width: 280px;
            }

            @include mq(desktop) {
                max-width: 250px;
            }

            @include mq(tablet-wide) {
                max-width: 140px;
            }

            @include mq(tablet) {
                display: none;
            }

            & img {
                object-fit: cover;
                width: 100%;
                object-position: center;
            }
        }

        @include m(reverse) {

            @include mq(tablet) {
                @include flex-direction(column-reverse);
            }
        }
    }

    @include e(cta) {
        margin-top: 30px;
        width: 100%;

        @include mq(tablet-wide) {
            max-width: 340px;
        }

        @include mq(tablet) {
            margin: 30px auto;
        }

        & a {
            padding: 0;
            width: 100%;
            text-align: left;
            padding-left: 40px;
            font-size: 16px;

            @include mq(tablet-wide) {
                text-align: left;
                padding-left: 20px;
                font-size: 13px;
                height: 60px;
                line-height: 60px;
            }

            @include mq(mobile-wide) {
                text-align: center;
                padding-left: 0;
            }

            @include mq(mobile-small) {
                height: auto;
                line-height: 25px;
                padding: 10px 0;
            }
        }

        & a::after {
            content: "";
            width: 25px;
            height: 45px;
            background: transparent url('../images/iconos/icono-calidad.svg') no-repeat;
            top: 20px;
            right: 25px;
            position: absolute;
            display: inline-block;

            @include mq(tablet-wide) {
                width: 18px;
                height: 36px;
                top: 16px;
                right: 18px;
            }

            @include mq(mobile-wide) {
                display: none;
            }
        }
    }

    @include e(bloques) {
       & .tns-outer {
         width: 100%;
         max-width: 600px;
         background: #fff;
         position: relative;
        //  height: 100%;
        //  max-height: 400px;

            @include mq(desktop-wide) {
                max-width: 500px;
                // max-height: 350px;
            }

            @include mq(desktop) {
                max-width: 400px;
                // max-height: 300px;
            }

            @include mq(tablet-wide) {
                max-width: 320px;
                // max-height: 250px;
            }

            @include mq(tablet) {
                max-width: 100%;
                // height: auto !important;
            }
       }

        & .tns-controls {
          position: absolute;
          right: 0;
          z-index: 1;
          height: 60px;
          top: 0;

          & button {
            background: #fff;
            border: 1px solid #480E1D;
            position: relative;
            right: 0;
            top: 0;
          }
        }
    }

    @include e(slider) {
        // height: 400px;
        & img {
            float: right;
            object-fit: cover;
            object-position: center;
            height: 400px;

            @include mq(desktop-wide) {
                height: 350px;
            }

            @include mq(desktop) {
                height: 300px;
            }

            @include mq(tablet-wide) {
                max-width: 320px;
                height: 250px;
            }

            @include mq(tablet) {
                max-width: 100%;
                height: auto !important;
            }
        }
    }

    @include e(blocks) {
        justify-content: space-around;

        @include e(text) {
            max-width: 550px;

            @include mq(desktop-wide) {
                max-width: 500px;
            }

            @include mq(tablet-wide) {
                max-width: 350px;
            }

            @include mq(tablet) {
                max-width: 100%;
            }
        }

        @include e(title) {

            padding-bottom: 22px;
            padding-top: 22px;
            @include font(60px, $font-family-secondary, $color-forvisa, $font-weight-medium, 72px);

            @include mq(mobile-wide) {
               font-size: 46px;
               line-height: 58px;
               text-align: center;
            }
        }

        @include e(image) {
            width: 600px;
            background: transparent;
            display: block;
            // height: 400px;

            @include mq(desktop-wide) {
                width: 500px;
                max-width: 500px;
            }

            @include mq(desktop) {
                width: 400px;
                max-width: 400px;
            }

            @include mq(tablet-wide) {
                width: 300px;
                height: auto;
            }

            @include mq(tablet) {
                width: 100%;
                max-width: 100%;
            }

            & img {
                width: 100%;
                object-fit: cover;
                object-position: center;
                position: relative;
                display: block;
                max-height: 100%;
            }
        }
    }

    @include e(video) {

        & iframe {
            @include mq(desktop-wide) {
                max-width: 500px;
                height: 300px;
            }

            @include mq(desktop) {
                max-width: 400px;
                height: 250px;
            }
        }
    }
}
