// =============================
//   Footer style
// =============================

.c-footer {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 100%;
  padding: 50px 30px;
  z-index: 3;
  position: relative;
  text-align: center;
  clear: both;

  @include mq(tablet-wide) {
    height: 100%;
  }

  @include e(copy) {
    @include font(36px, $font-family-secondary, $white, $font-weight-medium, 58px);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 150px;

    @include mq(tablet-wide) {
      padding-top: 100px;
    }

    @include mq(tablet) {
      padding-top: 15px;
      font-size: 28px;
      line-height: 46px;
    }

    @include mq(mobile) {
      font-size: 20px;
      line-height: 40px;
    }
  }

  @include e(logo) {
    width: 190px;
    height: auto;
  }

  @include e(container) {
    padding-top: 150px;
    @include flexbox;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

    @include mq(tablet-wide) {
      padding-top: 100px;
    }

    @include mq(tablet) {
      @include justify-content(center);
      @include align-items(center);
      @include flex-direction(column);
      padding-top: 60px;
    }

    @include m(bottom) {
      height: 100px;
      background: #ccc;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      @include font(14px, $font-family-primary, $gray, $font-weight-medium);

      @include mq(tablet) {
        height: 100%;
        padding: 30px;
      }
    }

    @include m(items) {
      @include flexbox;
      @include justify-content(space-around);
      @include align-items(center);
      @include flex-direction(row);
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;

      @include mq(tablet-wide) {
        @include flex-wrap(wrap);
        @include justify-content(center);
      }
    }

    @include m(item) {
      padding: 22px;
      width: 100%;
      max-width: 280px;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      @include font(14px, $font-family-primary, $white, $font-weight-medium, 20px);

      @include mq(tablet) {
        padding: 10px 0;
        @include justify-content(center);
        max-width: 200px;

        & img {
          display: none !important;
        }
      }

      & a {
        @include font(14px, $font-family-primary $white, $font-weight-medium, 20px);
      }

      & img {
        width: 100%;
        max-width: 30px;
        display: block;
        margin-right: 15px;

        @include mq(tablet-wide) {
          margin-right: 10px;
        }
      }
    }
  }

  @include e(izq) {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include align-items(flex-start);
    text-align: right;
    border-right: 1px solid #760b27;
    width: 100%;
    max-width: 260px;
    margin-right: 20px;

    @include mq(tablet-wide) {
      @include justify-content(center);
      @include align-items(center);
      padding-right: 20px;
      max-width: 200px !important;
    }

    @include mq(tablet) {
      max-width: 100% !important;
      @include justify-content(center);
      @include align-items(center);
      border: none;
      padding: 0;
      margin: 0;
    }
  }

  @include e(menu-izq) {
    padding-top: 80px;
    padding-left: 50px;

    @include mq(tablet-wide) {
      padding-top: 65px;
      padding-left: 0;
    }

    @include mq(tablet) {
      text-align: center;
      padding-top: 40px;
      max-width: 100%;
    }

    & li {
      padding: 5px 15px;

      @include mq(tablet-wide) {
        padding: 5px 10px;
      }
    }

    & li > a {
      @include font(14px, $font-family-primary, $white, $font-weight-regular);
    }
  }

  @include e(der) {
    @include flexbox;
    @include justify-content(flex-start);
    @include align-items(flex-start);
    @include flex-direction(column);
    width: 100%;
    max-width: 730px;

    @include mq(tablet-wide) {
      @include justify-content(flex-start);
    }

    @include mq(tablet) {
      max-width: 100%;
      @include justify-content(center);
      @include align-items(center);
    }
  }

  @include e(menu-der) {
    @include flexbox;
    padding-top: 54px;
    padding-left: 30px;
    @include justify-content(flex-start);
    @include align-items(flex-start);

    @include mq(tablet-wide) {
      padding-top: 20px;
      padding-left: 15px;
      @include flex-wrap(wrap);
      @include justify-content(center);
      @include align-items(center);
    }

    @include mq(tablet) {
      @include flex-direction(column);
      padding-left: 0;
      max-width: 100%;
    }

    @include m(destacado) {
      font-weight: $font-weight-bold !important;
    }

    & .sub-menu {
      @include flexbox;
      @include justify-content(flex-start);
      @include align-items(flex-start);
      @include flex-direction(column);
    }

    & li {
      padding: 5px 9px;
    }

    & li > a {
      @include font(14px, $font-family-primary, $white, $font-weight-regular);
    }
  }

  @include e(ayudas) {
    width: 100%;
    background: $white;
    max-width: 600px;
    padding: 24px;
    border-radius: 2px;
    height: auto;
    text-align: center;
    @include font(20px, $font-family-primary, $black, $font-weight-regular, 28px);

    @include mq(mobile-wide) {
      font-size: 18px;
      line-height: 26px;
      max-width: 300px;
    }
  }

  @include e(container-ayudas) {
    width: 100%;
    padding: 42px 0;

    & p {
      @include font(14px, $font-family-primary, $white, $font-weight-regular, 20px);
      font-style: italic;
    }

    @include e(items) {
      display: flex;
      width: 100%;
      max-width: 890px;
      align-items: center;
      justify-content: center;
      margin: 20px auto;
      text-align: center;

      @include mq(tablet) {
        flex-direction: column;
      }

      & img {
        width: 150px;
        height: 100%;
        margin-right: 15px;

        @include mq(tablet) {
          margin-bottom: 15px;
        }
      }

      & img:last-child {
        width: 250px;
        height: 100%;
        margin-left: 15px;

        @include mq(tablet) {
          margin-top: 15px;
        }
      }

      @include e(text) {
        color: #FFF;
        font-size: 14px;
        font-family: "Oxygen", sans-serif;
        font-weight: normal;
        line-height: 20px;
        font-style: italic;
      }
    }
  }
}

/* back to top */
.c-back-to-top {
  background-color: $gray;
  color: $white;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  height: 45px;
  width: 45px;
  border-radius: 50%;

  @include transition;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  .icon {
    max-width: 15px;
    color: $white !important;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
  }
}
