// =============================
//   Categoria style
// =============================
.c-categoria {

    background-size: cover !important;
    background-position: center 520px !important;
    background-repeat: no-repeat !important;

    @include mq(tablet) {
        background: none;
    }

    @include e(icono) {
        width: 100%;
        max-width: 130px;
        height: 100%;

        @include mq(tablet-wide) {
            max-width: 100px;
        }

        @include mq(tablet) {
            max-width: 80px;
        }
    }

    /* bloque destacado */

    @include e(destacado) {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 840px;

        @include mq(tablet-wide) {
            height: 650px;
        }

        @include mq(tablet) {
            height: 100%;
            padding-bottom: 68px;
        }

        @include mq(mobile) {
            padding-bottom: 48px;
        }

        @include m(container) {
            padding-top: 50px;
            padding-left: 0;

            @include mq(desktop) {
                padding-left: 32px;
            }

            @include mq(tablet-wide) {
              margin: 0;
            }

            @include mq(mobile-wide) {
              padding-left: 0;
            }
        }

        @include m(fila-a) {
            @include flexbox;
            @include justify-content(flex-start);
            @include align-items(center);

            @include mq(mobile-wide) {
                @include flex-direction(column);
            }
        }

        @include m(titulo) {
            @include font(60px, $font-family-secondary, $white, $font-weight-regular);
            margin-left: 50px;

            @include mq(tablet-wide) {
                font-size: 42px;
                margin-left: 30px;
            }

            @include mq(mobile-wide) {
                font-size: 36px;
                margin-left: 0;
                padding-top: 24px;
                text-align: center;
                line-height: 46px;
            }
        }

        @include m(subtitulo) {
            @include font(36px, $font-family-primary, $white, $font-weight-bold, 56px);

            @include mq(tablet-wide) {
                font-size: 22px;
                line-height: 40px;
            }

            @include mq(mobile-wide) {
                font-size: 18px;
                line-height: 30px;
                text-align: center;
            }
        }

        @include m(descripcion) {
            @include font(18px, $font-family-primary, $white, $font-weight-regular, 28px);
            padding-top: 40px;
            padding-bottom: 30px;

            @include mq(tablet-wide) {
                padding-top: 20px;
            }

            @include mq(mobile-wide) {
                text-align: center;
            }
        }

        @include m(bloque) {
            @include flexbox;
            @include align-items(center);
            padding-top: 110px;
            width: 100%;

            @include mq(tablet-wide) {
                padding-top: 80px;
            }

            @include mq(tablet) {
                padding-top: 60px;
                padding-left: 42px;
                padding-right: 42px;
                flex-direction: column;
            }

            @include mq(mobile-wide) {
                padding-top: 40px;
                padding-left: 22px;
                padding-right: 22px;
            }
        }

        @include m(izq) {
            width: 100%;
            max-width: 550px;
            margin: 0 auto;

            @include mq(desktop) {
                max-width: 420px;
           }

           @include mq(tablet-wide) {
            max-width: 100%;
            padding-left: 72px;
            padding-right: 72px;
           }

           @include mq(tablet-wide) {
            max-width: 100%;
            padding-left: 32px;
            padding-right: 32px;
           }

           @include mq(tablet) {
            padding-bottom: 30px;
            padding-left: 0;
            padding-right: 0;
           }

           @include mq(mobile-wide) {
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            @include flex-direction(column);
           }
        }

        @include m(der) {
            width: 100%;
            max-width: 728px;
            background: #471b2a;

            @include mq(desktop) {
                max-width: 540px;
            }

            @include mq(tablet-wide) {
                max-width: 380px;
            }

            @include mq(tablet) {
                max-width: 100%;
            }
        }

        @include m(foto-desktop) {
            @include mq(desktop) {
                width: 100%;
                max-width: 350px;
            }

            @include mq(tablet-wide) {
                width: 100%;
                max-width: 260px;
            }

            @include mq(tablet) {
                display: none;
            }
        }

        @include m(foto-mobile) {
            display: none;

            @include mq(tablet) {
                display: block;
                width: 100%;
                max-width: 400px;
            }

            @include mq(phablet) {
                max-width: 300px;
            }

            @include mq(mobile) {
                max-width: 100%;
            }
        }
    }

    /* bloque no destacado */

    @include e(nodestacado) {
        background-repeat: no-repeat;
        background-size: cover;
        height: 715px;
        margin-bottom: 50px;

        @include mq(tablet-wide) {
            height: auto;
        }

        @include m(container) {
            padding-top: 50px;
            padding-left: 22px;

            @include mq(tablet-wide) {
              padding-left: 32px;
            }

            @include mq(mobile-wide) {
              padding-left: 0;
            }
        }

        @include m(fila-a) {
            @include flexbox;
            @include justify-content(flex-start);
            @include align-items(center);

            @include mq(mobile-wide) {
                @include flex-direction(column);
            }
        }

        @include m(titulo) {
            @include font(60px, $font-family-secondary, $color-forvisa, $font-weight-regular);
            margin-left: 50px;

            @include mq(tablet-wide) {
                font-size: 42px;
                margin-left: 30px;
            }

            @include mq(mobile-wide) {
                font-size: 36px;
                margin-left: 0;
                padding-top: 24px;
                text-align: center;
            }
        }

        @include m(subtitulo) {
            @include font(34px, $font-family-primary, #545454, $font-weight-bold, 50px);

            @include mq(tablet-wide) {
                font-size: 22px;
                line-height: 40px;
            }

            @include mq(mobile-wide) {
                font-size: 18px;
                line-height: 30px;
                text-align: center;
            }
        }

        @include m(descripcion) {
            @include font(18px, $font-family-primary, #545454, $font-weight-regular, 28px);
            padding-top: 40px;
            padding-bottom: 30px;
            width: 100%;
            max-width: 445px;

            @include mq(tablet-wide) {
                padding-top: 20px;
            }

            @include mq(mobile-wide) {
                text-align: center;
            }
        }

        @include m(bloque) {
            @include flexbox;
            @include align-items(center);
            @include flex-direction(row-reverse);
            padding-top: 110px;
            width: 100%;

            @include mq(tablet-wide) {
                padding-top: 80px;
            }

            @include mq(tablet) {
                padding-top: 60px;
                padding-left: 42px;
                padding-right: 42px;
                flex-direction: column;
            }

            @include mq(mobile-wide) {
                padding-top: 40px;
                padding-left: 22px;
                padding-right: 22px;
            }
        }

        @include m(izq) {
            margin: 0 auto;
            width: 100%;
            max-width: 50%;
            padding-right: 210px;

            @include mq(desktop) {
                padding-right: 220px;
            }

            @include mq(tablet-wide) {
                padding-right: 42px;
            }

            @include mq(tablet) {
                padding-bottom: 30px;
                padding-left: 0;
                padding-right: 0;
                max-width: 100%;
            }

            @include mq(tablet-wide) {
                max-width: 100%;
                padding-left: 10%;
                padding-right: 10%;
            }
        }

        @include m(der) {
            width: 100%;
            max-width: 39.5%;
            background: #f0f0f0;

            @include mq(desktop-wide) {
                max-width: 38%;
            }

            @include mq(desktop) {
                max-width: 40%;
            }

            @include mq(tablet) {
                max-width: 100%;
            }
        }

        @include m(foto-desktop) {
            float: right;
            max-width: 400px;
            height: auto;

            @include mq(desktop) {
                width: 100%;
                max-width: 350px;
            }

            @include mq(tablet-wide) {
                width: 100%;
                max-width: 260px;
            }

            @include mq(tablet) {
                display: none;
            }
        }

        @include m(foto-mobile) {
            display: none;

            @include mq(tablet) {
                display: block;
                width: 100%;
                max-width: 400px;
            }

            @include mq(phablet) {
                max-width: 300px;
            }

            @include mq(mobile-wide) {
                max-width: 100%;
            }
        }
    }
}
