// =============================
//   Menu nav style
// =============================

$color-menu-active: #FF8E00;

.c-menunav {
  position: fixed;
  right: 50px;
  top: 50%;
  bottom: auto;
  z-index: 99;

  @include flexbox;
  @include justify-content(center);
  @include flex-direction(column);
  @include align-items(flex-end);

  @include mq(tablet-wide) {
    background: $black;
    padding: 30px;

    @include position-absolute-full;
    @include opacity(0.9);
    @include transform(translateX(100%));
    @include transition;

    position: fixed;

    &.open {
      @include transform(translateX(0));
      @include transition;
    }
  }

  @include e(link) {
    position: relative;
    padding: 10px 30px;
    overflow: hidden;

    @include font(9px, $font-family-secondary, $white, $font-weight-regular);
    @include opacity(0.25);
    @include transition;

    @include mq(tablet-wide) {
      font-size: 30px;
      padding: 12.5px 0;
    }

    @include mq(mobile-wide) {
      font-size: 18px;
    }

    span {
      display: block;

      @include transition;
      @include transform(translateX(200%));
      @include opacity(1);

      @include mq(tablet-wide) {
        @include transform(translateX(0));
        @include opacity(1);
      }
    }

    &.active {
      @include transition;

      span {
        @include transition;
        @include transform(translateX(0));
        @include opacity(1);
      }
    }

    &.current {
      @include opacity(1);
    }

    &:hover {
      @include opacity(1);
    }

    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-color: $white;
      position: absolute;
      top: 10px;
      right: 0;

      @include border-radius(50%);

      @include mq(tablet-wide) {
        display: none;
      }
    }
  }

  @include e(close) {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 20px;

    @include mq(mobile-wide) {
      top: 10px;
    }

    &::after,
    &::before {
      content: '';
      width: 30px;
      height: 2px;
      background-color: $white;
      display: block;
      position: absolute;
      right: 0;

      @include transform(rotate(0deg));
      @include transition;
    }

    &::after {
      top: 7px;

      @include transform(translateY(3px) rotate(45deg));
    }

    &::before {
      top: 15px;

      @include transform(translateY(-5px) rotate(-45deg));
    }

    @include mq(tablet-wide) {
      display: block;
    }
  }
}
