// =============================
//   Menu style
// =============================

// components/_components.menu.scss

:root {
    --menu-color: var(--color-black);
    --menu-item-hover-bg-color: transparent;
    --menu-item-hover-color: var(--color-verde);
    --menu-item-gap: #{space-mult(3)};
    --menu-height: var(--header-logo-height);
    --menu-item-border-radius: var(--border-tiny);
    @include mq(tablet-wide) {
        --menu-color: var(--font-color-primary);
    }
}

.c-menu {
    color: var(--menu-color);
    //height: var(--menu-height);

    & li {

      @include mq(tablet-wide) {
        position: relative;
        top: 14px;
      }
    }

    & a {
        padding: 10px 0;
    }

    & i {
        top: 2px;
        position: relative;
    }

    & li a::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: #ccc;
        transition: width 0.3s;
        margin-top: 15px;

        @include mq(mobile-wide) {
            margin: 5px auto;
        }
    }

    & li a:hover:not(.menu-item-has-children > a) {
       color: #ccc;
       text-align: center;
    }

    & li a:hover::after {
        width: 100%;

      @include mq(mobile-wide) {
        width: 80px;
      }
    }

    & .current-menu-item {
        font-weight: $font-weight-bold !important;
    }

    & .current-menu-item::after {
        width: 100%;
    }

    @include e(destacado) {
        text-transform: uppercase;
        font-weight: $font-weight-bold;
    }

    & .menu-item {
        align-items: center;
        color: $white;
        display: inline-block;
        height: 40px;
        margin-left: 0;
        padding: 10px 8px;
        font-weight: $font-weight-regular;
        font-size: 16px;

        @include mq(tablet) {
            padding: 0 15px;
            margin-bottom: 0;
        }

        @include border-radius(var(--menu-item-border-radius));

        & .sub-menu {
            display: none;

            @include mq(tablet-wide) {
                display: block;
                width: 100%;
                margin-left: 0 !important;
                padding-bottom: 22px;
            }
        }

        &:first-child {
            margin-left: 0;
        }

        i {
            margin-right: space-mult(2);
        }

        /* @include pixel-hover-full {
            background-color: var(--menu-item-hover-bg-color);
            color: var(--color-white);
        } */

        @include m(button) {
            min-width: auto;

            //@include create-button(var(--color-primary), var(--color-white));
        }
    }

    @include mq(tablet-wide) {
        position: fixed;
        z-index: var(--zindex-overlay);
        background-color: $black;
        width: 100%;
        left: 0;
        top: 0;
        padding: 90px 20px;
        height: 100vh;
        overflow-y: scroll;
        pointer-events: none;
        flex-direction: column;
        justify-content: flex-start;
        color: var(--menu-color);
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);

        @include transform(scale(0.85));
        @include opacity(0);
        @include transition;

        &.show {
            pointer-events: auto;
            @include transform(scale(1));
            @include opacity(1);
            @include transition;
        }

        .menu-item {
            @include flexbox();
            @include flex-direction(column);
            height: auto;
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 0;

            @include mq(tablet-wide) {
                margin-bottom: 0;
                padding: 0 15px;
                width: 100%;
            }

            @include mq(tablet) {
                margin-bottom: 0;
                padding: 0;
            }

            &.current-menu-item {
                & > a {
                    color: $white;
                }
            }

            & a {
                font-family: $font-family-primary;
                font-weight: bold;
                font-size: 30px;
                line-height: 30px;
                color: $white;
                text-transform: none;

                @include mq(tablet-wide) {
                    padding-bottom: 12px;
                }

                @include mq(mobile-wide) {
                    font-size: 15px;
                    padding-bottom: 0;
                    line-height: 26px;
                }

                &:hover,
                &:focus,
                &:active {
                    color: var(--color-verde);
                }
            }

            & .sub-menu a {
                font-weight: var(--font-weight-bold);
                font-size: 16px;
                line-height: 18px;
                // text-transform: uppercase;

                &:hover,
                &:focus,
                &:active {
                    color: var(--color-verde);
                }

                @include mq(tablet-wide) {
                    width: 100%;
                    text-align: center;
                    padding-bottom: 0;
                }
            }
        }
    }
}

.open-submenu-desktop {
    display: flex !important;
    @include justify-content(flex-start);
    @include align-items(flex-start);
    @include flex-direction(column);
    width: 100%;
    max-width: 180px;
    background: transparent;
    position: absolute;
    margin-left: 0 !important;
    top: 50px;

    @include mq(tablet-wide) {
        position: relative;
        top: 0;
        max-width: 100%;
        padding: 0;
    }
}

.sub-menu {
    padding: 6px 0;

    @include mq(tablet-wide) {
        padding: 0;
        margin-top: 0 !important;
    }
}

// .sub-menu.open-submenu-desktop li {
//     padding: 7px;

//     @include mq(tablet-wide) {
//         padding: 0;
//     }
// }

.sub-menu li a {
    // text-transform: uppercase !important;
    font-size: 12px;
}

.sub-menu li a:hover {
    color: #ccc;
}

.current_page_item a {
    color: #ccc !important;
}

#menu-item-276 {
  margin-top: 38px;
}
