// =============================
//   Hero style
// =============================

   /* Desktop */

   $hero-height: 90vh;
   $hero-height-tablet: 90vh;

   .c-hero {
    height: $hero-height;
    width: 100%;
    position: relative;
    background-position: center top;
    background-size: cover;
    overflow: hidden;

    @include flexbox;
    @include justify-content(flex-start);
    @include flex-direction(column);
    @include align-items(center);

    @include mq(tablet-wide) {
      height: $hero-height-tablet;
    }

    @include e(overlay) {
      width: 100%;
      height: 60vh;
      position: absolute;
      background-size: cover !important;
      opacity: 0.8;
    }

    @include e(pretitle) {
      @include font(18px, $font-family-primary, $white, $font-weight-medium, 50px);
      text-transform: uppercase;
      padding: 15px 0;

      @include mq(desktop-wide) {
        font-size: 16px;
        line-height: 22px;
      }

      @include mq(tablet-wide) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    @include e(container) {
      @include flexbox;
      @include justify-content(flex-start);
      padding-left: 72px;
      padding-top: 200px;

      @include mq(tablet-wide) {
        padding-left: 42px;
        padding-right: 42px;
      }

      @include mq(mobile) {
        padding-left: 22px;
        padding-right: 22px;
      }

      @include mq(mobile-small) {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
      }
    }

    @include e(content) {
      text-align: center;
      cursor: pointer;
      z-index: 10;
      position: relative;

      @include m(alt) {
        position: absolute;
        left: 150px;
        text-align: left;
        max-width: 500px;
        bottom: 22%;
        cursor: default;

        @include mq(tablet-wide) {
          text-align: center;
          bottom: 40%;
          left: auto;
          right: auto;
        }

        @include mq(mobile-wide) {
          bottom: 90px;
        }
      }

      @include m(copy) {
        z-index: 1;
        margin: 0;
        position: absolute;
        height: 100%;
        top: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
      }
    }

    @include e(subtitle) {
      text-transform: uppercase;

      @include font(16px, $font-family-primary, $white, $font-weight-light, 24px);

      strong {
        font-weight: bold;
      }
    }

    @include e(copy) {
      font-family: $font-family-primary;
      color: $white;
      font-size: 20px;
      line-height: 27px;
      width: 90%;
      margin: 0;

        @include m(extended) {
          font-family: $font-family-secondary;
          font-weight: $font-weight-bold;
        }
      }

      @include e(subcopy) {

       color: $white;
       font-family: $font-family-primary;
       margin: 10px 0 0 0;
       @include mq(tablet-wide) {
        font-size: 11px;
        width: 100%;
        margin: 0;
        padding-top: 5px;
      }
    }

    @include e(title) {
      z-index: 10;
      text-align: left;
      max-width: 767px;
      @include font(64px, $font-family-secondary, $white, $font-weight-regular, 68px);
      padding: 15px 0 50px 0;

      @include mq(desktop-wide) {
        font-size: 50px;
        line-height: 58px;
      }

      @include mq(tablet) {
        font-size: 52px;
        max-width: 590px;
        padding: 15px 0 25px 0;
      }

      @include mq(tablet-small) {
        font-size: 46px;
        max-width: 490px;
      }

      @include mq(mobile-wide) {
        font-size: 34px;
        max-width: 340px;
        line-height: 38px;
      }
    }

    @include e(background-image) {
      @include position-absolute-full();

      img {
        @include object-fit;
      }

      @include m(hidden) {
        display: none;
        @include mq(mobile-wide) {
          display: block;
        }
      }
      @include m(hidden-xs) {
        @include mq(mobile-wide) {
          display: none;
        }
      }
    }

    @include align-items(flex-start);

    @include m(centered) {
      @include justify-content(center);
    }

    /* catalogo */

    @include e(catalogo) {
      height: 60vh;
      width: 100%;
      position: relative;
      background-position: center top;
      background-size: cover;
      overflow: hidden;

      & .c-hero__container {
        padding-top: 80px;
      }

      & .c-hero__pretitle {
        padding: 0;
      }

      @include e(overlay) {
        width: 100%;
        height: 60vh;
        position: absolute;
        background-size: cover !important;
        opacity: 0.8;
      }
    }

    /* contacto */

     @include e(contacto) {
       height: 60vh;
       width: 100%;
       position: relative;
       background-position: center top;
       background-size: cover;
       overflow: hidden;

       @include mq(tablet) {
         height: 40vh;
       }

       & .c-hero__container {
         padding-top: 80px;
       }

       & .c-hero__pretitle {
         padding: 0;
       }
     }

     @include e(overlay-black) {
       background: $black;
       background-size: cover !important;
       @include position-absolute-full();
       @include opacity(0.4);
     }
  }

/* slider */
.tns-nav {
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 8 !important;
  bottom: 100px;
  height: auto;
  margin: 50px 0;

  @include mq(tablet-wide) {
    bottom: 150px;
  }

  @include mq(tablet-wide) {
    bottom: 150px;
    margin: 0;
  }

  @include mq(tablet) {
    bottom: 100px;
    margin: 0;
  }

  @include mq(mobile-small) {
    bottom: 150px;
    margin: 0;
  }
}

.tns-nav button {
  border: none !important;
  width: 12px !important;
  height: 12px !important;
  border-radius: 10px;
  background: $white;
  margin-left: 4px;
}

.tns-nav-active {
  background: #480E1D !important;
}
