/* =========================
   Header styles
========================== */

// styles/components/_components.header.scss

:root {
  --header-bg-color: transparent;
  --header-height: 100px;
  --header-logo-height: 35px;
  --header-padding: #{space-mult(8)};

  @include mq(mobile-wide) {
    --header-logo-height: 10px;
    --header-padding: var(--padding-default);
    --header-height: 56px;
  }
}

[data-theme=light] {
  --header-bg-color: transparent;
}

.c-header {
  position: relative;
  height: var(--header-height);
  background-color: var(--header-bg-color);
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @include e(logo) {
    height: 100%;
    max-height: 85px;
    margin: 25px 0 0 0;
    width: 100%;
    max-width: 412px;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);

    @include mq(tablet-wide) {
        max-width: 100%;
        @include justify-content(flex-start);
    }

    @include mq(tablet) {
        max-height: 70px;
        max-width: 265px;
    }

    @include mq(mobile-wide) {
        max-width: 100%;
    }

    img,
    svg {
      vertical-align: top;
      height: 100%;
    }

    @include mq(mobile-wide) {
      & svg {
        width: 90px;
      }
    }

    & svg path {
      @include transition();
    }

    &.menu-open {
      z-index: 11;

      & svg path {
        fill: var(--color-white);
        @include transition();
      }
    }
  }

  @include e(container) {
    height: 100%;

    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
  }

  @include m(fixed) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
  }
}