.c-contacto {
  position: relative;
  padding: 0;

  @include e(container) {
    @include flexbox;
    @include justify-content(space-between);

    @include mq(tablet) {
      @include flex-direction(column);
    }

    @include e(block) {
      position: relative;
      width: 50%;

      @include mq(tablet) {
        width: 100%;
      }

      &:first-child {
        padding-right: 80px;
        padding-left: 30px;

        @include mq(tablet) {
          padding-right: 30px;
        }
      }

      @include m(map) {
        min-height: 816px;

        @include mq(tablet) {
          min-height: 250px;
        }
      }
    }
  }
  @include e(content) {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin-right: 0;
    margin-left: auto;

    @include mq(tablet) {
      max-width: 100%;
    }
  }

  @include e(block) {
    position: relative;
    @include flexbox;
    @include align-items(center);
    margin-bottom: 32px;

    @include e(img) {
      width: 64px;
    }
  }

  @include e(title) {
    @include font(60px, $font-family-secondary, $marron, $font-weight-regular, 72px);
    margin-bottom: 64px;

    @include mq(tablet) {
      font-size: 32px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  @include e(copy) {
    @include font(18px, $font-family-primary, $marron, $font-weight-regular, 28px);

    @include m(big) {
      font-size: 24px;
      font-weight: bold;
    }

    & a {
      color: $marron;
      @include transition();
    }

    & a:hover,
    & a:active,
    & a:focus {
      @include opacity(0.7);
      @include transition();
    }
  }

  @include e(img-maps) {
    margin-top: 30px;
  }

  @include e(background-image) {
    @include position-absolute-full();

    img {
      @include object-fit;
    }
  }

  @include e(breadcrumbs) {
    padding: 90px 0 80px;

    & .c-breadcrumbs {
      padding: 0;
    }

    @include mq(tablet) {
      padding: 30px 0 60px;
    }
  }
}
