/* ==========================================================================
    Block styles
========================================================================== */

.o-videoiframe {
    position: relative;
    padding: 100px 0;

    @include mq(desktop) {
        padding: 40px;
    }
    @include mq(tablet-small) {
        padding: 18px 0;
    }

    @include e(content) {
        position: relative;
    }

    @include e(icon) {
        position: absolute;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        cursor: pointer;
        z-index: 9;

        @include animation(0.3s, fade-in, 0.3s);
        @include transform(scale(1));
        @include transition(0.3s, cubic-bezier(0, 2, 1, 1));

        &:hover {
            @include transform(scale(1.05));
            @include transition(0.3s, cubic-bezier(0, 2, 1, 1));
        }

        &:active {
            @include transform(scale(0.9));
            @include transition(0.3s, cubic-bezier(0, 2, 1, 1));
        }
    }

    @include e(link) {
        display: block;
        height: 100%;
        width: 100%;
    }
}