/* ==========================================================================
   #LISTS
   ========================================================================== */

$list-gap: 20px;

ul {
    list-style-type: none;
    margin-left: 0;
}

ol {
    margin-left: $list-gap;
}

ul,
ol {
    /* margin-bottom: $list-gap !important; */
    padding: 0;

    li {
        ul,
        ol {
            margin-top: $list-gap !important;
            margin-left: $list-gap !important;
        }
    }
}