/* ==========================================================================
   #PARAGRAPHS
   ========================================================================== */

.e-paragraph {
    @include font(18px, $font-family-primary, $gray, $font-weight-regular, 28px);

    @include mq(tablet) {
        font-size: 16px;
        line-height: 26px;
    }
}
