$icon-twitter: \f099;
$icon-facebook: \f09a;
$icon-facebook-f: \f09a;
$icon-caret-down: \f0d7;
$icon-caret-up: \f0d8;
$icon-caret-left: \f0d9;
$icon-caret-right: \f0da;
$icon-angle-left: \f104;
$icon-angle-right: \f105;
$icon-angle-up: \f106;
$icon-angle-down: \f107;
$icon-icon-calendar: \e901;
$icon-icon-play: \e902;
$icon-icon-upload: \e900;
$icon-icon-youtube: \e903;
$icon-icon-instagram: \e904;
$icon-play-round: \e905;

/* @font-face {
    font-family: 'thehop';
    src: url('../fonts/thehop.eot?m4xl7g');
    src: url('../fonts/thehop.eot?m4xl7g#iefix') format('embedded-opentype'),
    url('../fonts/thehop.ttf?m4xl7g') format('truetype'),
    url('../fonts/thehop.woff?m4xl7g') format('woff'),
    url('../fonts/thehop.svg?m4xl7g#thehop') format('svg');
    font-weight: normal;
    font-style: normal;
}
 */

%icomoon {
    /* use !important to prevent issues with browser extensions that change fonts */

    /* font-family: 'thehop' !important; */

    /*  speak: none; */

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
    @extend %icomoon;
}

@function unicode($str) {
    @return unquote("\"") + $str + unquote("\"");
}

.icon-play-round {
    &::before {
        content: unicode($icon-play-round);
        color: #fff;
    }
}

.icon-youtube {
    &::before {
        font-size: 18px;
        content: unicode($icon-icon-youtube);
    }
}
.icon-instagram {
    &::before {
        font-size: 19px;
        content: unicode($icon-icon-instagram);
    }
}

.icon-icon-upload {
    &::before {
        content: unicode($icon-icon-upload);
        color: $color-primary;
    }
}

.icon-twitter {
    &::before {
        content: unicode($icon-twitter);
    }
}
.icon-facebook {
    &::before {
        content: unicode($icon-facebook);
    }
}
.icon-facebook-f {
    &::before {
        content: unicode($icon-facebook-f);
    }
}
.icon-caret-down {
    &::before {
        content: unicode($icon-caret-down);
    }
}
.icon-caret-up {
    &::before {
        content: unicode($icon-caret-up);
    }
}
.icon-caret-left {
    &::before {
        content: unicode($icon-caret-left);
    }
}
.icon-caret-right {
    &::before {
        content: unicode($icon-caret-right);
    }
}
.icon-angle-left {
    &::before {
        content: unicode($icon-angle-left);
    }
}
.icon-angle-right {
    &::before {
        content: unicode($icon-angle-right);
    }
}
.icon-angle-up {
    &::before {
        content: unicode($icon-angle-up);
    }
}
.icon-angle-down {
    &::before {
        content: unicode($icon-angle-down);
    }
}
.icon-icon-calendar {
    &::before {
        content: unicode($icon-icon-calendar);
        color: #e5e5e5;
    }
}
.icon-icon-play {
    font-size: 60px;

    &:hover {
        &::before {
            color: $color-primary;

            @include transition;
        }
    }

    &::before {
        content: unicode($icon-icon-play);
        color: #fff;

        @include transition;
    }
}

