// =============================
//   Size variables
//==============================

/* Wrapper */
$wraper-max-width: 995px;
$wraper-medium-max-width: 1280px;
$wraper-wider-max-width: 1340px;

/* Borders */
$border-default: 40px;
$border-tiny: 5px;
$border-round: 50%;

// =============================
//   Tablet variables
//==============================

// =============================
//   Mobile variables
//==============================

/* Font size */
$mobile-base-font-size: 14px;