// Font weights

$font-weight-thin: 100;
$font-weight-ultralight: 200;
$font-weight-light: 300;
$font-weight-regular: normal;
$font-weight-medium: 500;
$font-weight-bold: bold;
$font-weight-semibold: 600;
$font-weight-black: 900;

// Fonts
$fontPath: '../fonts/';
@include fontFace('Oxygen', '#{$fontPath}oxygen', normal, $font-weight-regular);
@include fontFace('Oxygen Bold', '#{$fontPath}oxygen-bold', normal, $font-weight-bold);
@include fontFace('Prata', '#{$fontPath}prata-regular', normal, $font-weight-regular);

// =============================
//   Font variables
//==============================

$font-family-primary: "Oxygen", sans-serif;
$font-family-secondary: "Prata", sans-serif;

$base-font-size: 16px;
$base-line: 24px;
$browser-context: 16;