/* ====================
    Utilities styles
====================== */

.u-wrapper {
    max-width: $wraper-medium-max-width;
    width: 100%;
    margin: 0 auto;

    @include mq(desktop-wide) {
        max-width: 1100px;
    }

    @include mq(tablet-wide) {
        max-width: 720px;
    }

    @include m(medium) {
        max-width: $wraper-medium-max-width;
    }

    @include m(wider) {
        max-width: $wraper-wider-max-width;
    }
}

.u-block {
    display: block;
}

.u-relative {
    position: relative;
    height: 100%;
}

.u-circle {
    @include border-radius($border-round);
}

@each $align in left, center, right {
    .u-text-#{$align} {
        text-align: unquote($align) !important;
    }

    .u-mobile-text-#{$align} {
        @include mq(mobile) {
            text-align: unquote($align) !important;
        }
    }
}

.u-mobile-margin-0 {
    @include mq(mobile) {
        margin: 0 !important;
    }
}

.u-mobile-padding-0 {
    @include mq(mobile) {
        padding: 0 !important;
    }
}

.u-margin-left-0 {
    margin-left: 0;
}

.u-margin-top-0 {
    margin-top: 0;
}

.u-margin-right-0 {
    margin-right: 0;
}

.u-margin-bottom-0 {
    margin-bottom: 0;
}

.u-padding-left-0 {
    padding-left: 0;
}

.u-padding-top-0 {
    padding-top: 0;
}

.u-padding-right-0 {
    padding-right: 0;
}

.u-padding-bottom-0 {
    padding-bottom: 0;
}

.u-hightlight {
    color: $color-primary !important;
}

.u-remove-spaces-sides {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.u-remove-padding-sides {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.u-remove-spaces {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.u-text-uppercase {
    text-transform: uppercase;
}

/* Show mixins */
.u-show-on-desktop {
    @include mq(tablet-wide, max) {
        display: none;
    }
}

.u-show-on-tablet-only {
    display: none;

    @include mq(tablet-wide, max) {
        display: block;
    }

    @include mq(mobile-wide, max) {
        display: none;
    }
}

.u-show-on-mobile {
    display: none;

    @include mq(mobile-wide, max) {
        display: block;
    }
}

/* Hide mixins */
.u-hide {
    display: none !important;

    @include mq(tablet-wide) {
        display: block !important;
    }
}

.u-hide-on-desktop {
    display: none;

    @include mq(tablet-wide, max) {
        display: block;
    }
}

.u-hide-on-mobile {
    @include mq(mobile-wide, max) {
        display: none;
    }
}

.u-hide-on-ie {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        display: none;
    }
}

.u-flexbox {
    @include flexbox;

    @include m(wrap) {
        @include flex-wrap(wrap);
    }

    @include m(justify-center) {
        @include justify-content(center);
    }

    @include m(separated) {
        @include justify-content(flex-start);

        * {
            margin: 0 10px 20px;
        }
    }
}

.js-object-fit {
    img {
        @include object-fit;
    }
}

/*
Avoid empty images to appear as broken
*/
img:not([src]):not([srcset]) {
    visibility: hidden;
}

/*
Fixes Firefox anomaly during images load time
*/
@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden;
    }
}

img[data-sizes="auto"] {
    display: block;
    width: 100%;
}

.u-h-100 {
    height: 100%;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}